<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>PLEASE VISIT FRONT END SERVER INSTEAD.</title>
    <meta content="PLEASE VISIT FRONT END SERVER INSTEAD." name="keywords"/>
    <meta content="PLEASE VISIT FRONT END SERVER INSTEAD." name="description"/>
    <link href="css/welcome.css" rel="stylesheet">
<body>
<div class="reveal">PLEASE VISIT FRONT END SERVER INSTEAD.</div>
<!-- 添加底部说明 -->
<div class="footer-bar">
    <span>NOTE: THIS IS BACK-END SERVER FOR THE ACCOMPANYING CONSULTATION SYSTEM.</span>
</div>
<script src="js/welcome.js"></script>
</body>
</html>
