<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorm.mapper.dorm.move.MoveMapper">
  <!-- 多表联查SQL -->
  <select id="listByStudentName" resultType="com.dorm.entity.dorm.move.MovePO">
    SELECT m.*
    FROM dorm_move m
           LEFT JOIN
         user_student s ON m.student_id = s.id
    WHERE s.name like CONCAT('%', #{studentName}, '%')
  </select>
</mapper>
